/* ==========================================================================
   Luvrhatr
   ========================================================================== */

img {
    width:100%;
    height:auto;
}

.jumbotron {
    text-align:center;
}

.navbar-brand {
    padding:5px;
    display:inline-block;
    font-size:36px;
    font-weight:bold;
    letter-spacing: -1px;
}

.navbar-brand .logo {
    display:inline-block;
    margin-right:8px;
    width:36px;
    height:36px;
    background-size:100% 100%;
    background-repeat:no-repeat;
    background-image:url(../images/apple-touch-icon-precomposed.png);
}

#friend_view #switch {
    width:100%;
    height:400px;
    display:inline-block;
    background-image:url(../images/switch-main-1.gif);
    background-repeat:no-repeat;
    background-position:top center;
    background-size:100% auto;
}

#friend_view.hate {
    background-image:url(../images/bg-hate.gif);
    background-size:auto 100%;
    background-repeat: repeat-x;
}

#friend_view.love {
    background-image:url(../images/bg-love.gif);
    background-repeat: repeat;
}

#friend_view.hate #switch {
    background-image:url(../images/switch-main-2.gif);
}

#friend_view.love .block {
    background:rgba(255,255,255,0.62);
    padding:10px;
    color:#000;
    font-family: 'Indie Flower', cursive;
}

#friend_view.hate .block {
    background:rgba(0,0,0,0.62);
    padding:10px;
    color:#fff;
    font-family: 'Metal Mania', cursive;
}

#friend_view .block .headline {
    font-size:24pt;
    font-weight:bold;
}

#friend_view .block .text {
    font-size:24pt;
    font-weight:normal;
}










