@(message: String)

@main("Select a friend") {

<div class="jumbotron">
    <div class="row">
        <div class="col-sm-6 col-md-3">
            <h1>Stable</h1>
            <img src="/assets/images/friends/stable-love.gif" />
            <h2>Lorem ipsum dolor sit amet</h2>
        </div>
        <div class="col-sm-6 col-md-3">
            <h1>Harvard</h1>
            <img src="/assets/images/friends/stable-hate.gif" />
            <h2>Lorem ipsum dolor sit amet</h2>
        </div>
        <div class="col-sm-6 col-md-3">
            <h1>Stable</h1>
            <img src="/assets/images/friends/stable-love.gif" />
            <h2>Lorem ipsum dolor sit amet</h2>
        </div>
        <div class="col-sm-6 col-md-3">
            <h1>Harvard</h1>
            <img src="/assets/images/friends/stable-hate.gif" />
            <h2>Lorem ipsum dolor sit amet</h2>
        </div>
    </div>
</div>

<div id="friend_view" class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-sm-3 col-md-4">
            &nbsp;
        </div>
        <div class="col-sm-6 col-md-4">
            <a id="switch" href="javascript:$('#friend_view').toggleClass('hate')">&nbsp;</a>
        </div>
        <div class="col-sm-3 col-md-4">
            &nbsp;
        </div>
    </div>

    <hr>

    <footer>
        <p>&copy; Band of Horses 2014</p>
    </footer>
</div>

}
