@(message: String)

@main("Welcome to Love Hate Love") {

<div class="jumbotron">
    <div class="row">
        <div class="col-sm-6 col-md-3">
            <img src="/assets/images/heart.gif"/>
        </div>
        <div class="col-sm-12 col-md-6">
            <h1>you decide who's cool or lame</h1>

            <p><a class="btn btn-primary btn-lg" role="button" href="/friends">Login with Facebook</a>
            </p>
        </div>
        <div class="col-sm-6 col-md-3">
            <img src="/assets/images/fire.gif"/>
        </div>
    </div>
</div>

<div class="container">
    <!-- Example row of columns -->

    <hr>

    <footer>
        <p>&copy; Band of Horses 2014</p>
    </footer>
</div>

}
